/* Hide ads */
.ezoic-ad,
.ezoic-ad,
#av-container,
.dtop-ad,
.vm-footer,
.vm-skin,
[data-ref="vm-preloader"],
.ad-wrap,
.ad,
[data-google-query-id] {
  display: none !important;
  opacity: 0 !important;
  height: 0 !important;
}

/* Hide cookie dialogs */
.qc-cmp2-container,
#coiOverlay, 
.sleeknote-anchor {
  display: none !important;
  opacity: 0 !important;
  height: 0 !important; 
}
/* Fix attempts to break site until cookie dialog has been dismissed properly */
.noScroll, .noScroll body.mm-wrapper {
  overflow: auto !important;
}