/* Hide ads */
.ezoic-ad,
.ezoic-ad,
#av-container,
.dtop-ad,
.vm-footer,
.vm-skin,
[data-ref="vm-preloader"],
.ad-wrap,
.ad,
._ap_apex_ad,
body > div.fc-consent-root,
[data-google-query-id] {
  display: none !important;
  opacity: 0 !important;
  height: 0 !important;
}

/* Hide cookie dialogs */
.qc-cmp2-container,
#coiOverlay, 
.sleeknote-anchor,
#cookies {
#CybotCookiebotDialog {
  display: none !important;
  opacity: 0 !important;
  height: 0 !important; 
}
/* Fix attempts to break site until cookie dialog has been dismissed properly */
.noScroll, .noScroll body.mm-wrapper, html.noScroll, html.noScroll body {
  overflow: auto !important;
}

body[style='overflow: hidden;'] {
  overflow: unset !important;
}